.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }
  
  .signup-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .signup-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 150px;
    width: auto;
    max-width: 100%;
  }
  
  .signup-form button.signup-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .signup-form button.signup-button:hover {
    background-color: #0056b3;
  }
  
  .signup-form button.signup-button:focus {
    outline: none;
  }
  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../assets/library.jpg');
    background-size: cover;
    background-position: center;
  }
  